* {
    box-sizing: border-box;
}

.ar {
    background-color: pink;
    color:white; 
}

.bg {
    background-color: dimgray;
}

#yt {
    color:rgb(238, 242, 41);
}

.gr {
    color:chartreuse;

}

.blue {
    color:cornflowerblue
}

.box {
    background-color: white;
    border: 10px solid orange; 
    padding-bottom: 40px;
    

}

.white {
    color:white;
}

}


